<h1>DinoBooks</h1>
<h2>Lista de libros disponibles</h2>

<div id="contenedorBooks"></div>

<h2>Desea vender un libro?</h2>

<form>
    <input type="text" id="title" placeholder="Titulo">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="code" placeholder="Codigo">
    <input type="number" id="Stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria">
    <select id="status">
        <option value="true">activo</option>
        <option value="false">inactivo</option>
    </select>
    <button type="button" id="btnEnviar"> Enviar</button>
</form>



<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/js/main.js"></script>